div.title { /* Styles set name listings */
	text-decoration: underline;
	display: inline;
}

div.ssTitle { /* Styles subset name listings */
	font-weight: bold;
	display: inline;
}
.headerImgHorizontal { /* Styles horizontal images with each year */
	/*-ms-transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg); */
	width: 50%;
	max-width: 500px;
	max-height: 350px;
	min-width: 200px;
}
.headerImgVertical { /* Styles vertical images with each year */
	width: 35%;
	max-width: 350px;
	max-height: 500px;
	min-width: 150px;
}
