div.title {
	text-decoration: underline;
	display: inline;
}

div.ssTitle {
	font-weight: bold;
	display: inline;
}

hr {
	/* All 3 rules needed to cover different browsers */
	color: #8c8c8c;
	border-color: #8c8c8c;
	background-color: #8c8c8c;
}
